{% extends '_base.html' %} {% load static %} {% block content %}

<div class="container font-Poppins mt-5">
    <!-- hero images -->
    <div class="grid grid-cols-1 xl:grid-cols-2 gap-1">
        <div>
            <img
                src="{{hotel.image.url}}"
                alt=""
                class="mx-auto xl:mx-0 h-full w-full"
            />
        </div>
        <div
            class="mx-auto xl:mx-0 grid grid-cols-1 md:grid-cols-2 gap-1 h-full w-full"
        >
            <img
                src="{{hotel.image2.url}}"
                class="h-full w-full object-cover object-center"
                alt=""
            />
            <img
                src="{{hotel.image3.url}}"
                class="h-full w-full object-cover object-center"
                alt=""
            />

            <img
                src="{{hotel.image4.url}}"
                class="h-full w-full object-cover object-center"
                alt=""
            />
            <img
                src="{{hotel.image5.url}}"
                class="h-full w-full object-cover object-center"
                alt=""
            />
        </div>
    </div>

    <!-- information about hotel  -->

    <div
        class="px-8 pb-8 pt-4 shadow-md border-2 border-gray-50 rounded-md my-10"
        >
        <div class="flex-col">
            <h1 class="md:text-2xl font-bold text-primary mb-2 text-xl">
                {{hotel.name}}
                <span class="text-primary md:text-xl text-sm"
                    >({{hotel.rating}}/5 Excellent)</span
                >
            </h1>
            <h3 class="font-bold text-primary my-4">
                Location: {{hotel.going_to}}
            </h3>
        </div>

        <hr class="my-4" />
        <!-- Popular amenities -->
        <div>
            <h2 class="md:text-2xl font-bold text-primary mb-2 text-xl">
                Popular amenities
            </h2>
            <div class="flex flex-wrap gap-2 my-4">
                {% if hotel.ac_tv %}
                <p
                    class="text-sm max-w-sm text-white text-center px-3 py-1 font-Poppins bg-primary rounded-full"
                >
                    Air conditioning
                </p>
                <p
                    class="text-sm max-w-sm text-white text-center px-3 py-1 font-Poppins bg-primary rounded-full"
                >
                    TV available
                </p>
                {% endif %} {% if hotel.pool %}
                <p
                    class="text-sm max-w-sm text-white text-center px-3 py-1 font-Poppins bg-primary rounded-full"
                >
                    Pool
                </p>
                {% endif %} {% if hotel.breakfast_included %}
                <p
                    class="text-sm max-w-sm text-white text-center px-3 py-1 font-Poppins bg-primary rounded-full"
                >
                    Breakfast Included
                </p>
                {% endif %} {% if hotel.free_airport_shuttle %}
                <p
                    class="text-sm max-w-sm text-white text-center px-3 py-1 font-Poppins bg-primary rounded-full"
                >
                    Free Airport Shuttle
                </p>
                {% endif %} {% if hotel.business_services %}
                <p
                    class="text-sm max-w-sm text-white text-center px-3 py-1 font-Poppins bg-primary rounded-full"
                >
                    Business Services
                </p>
                {% endif %}
            </div>
        </div>
        <hr class="my-4" />
        <!-- Cleaning and safety -->
        <div>
            <h2 class="md:text-2xl font-bold text-primary mb-2 text-xl">
                Cleaning and safety practices
            </h2>
            <div class="flex flex-wrap gap-4 my-4">
                <p
                    class="text-sm max-w-sm text-white text-center px-3 py-1 font-Poppins bg-primary rounded-full"
                >
                    Cleaned with disinfectant
                </p>
                <p
                    class="text-sm max-w-sm text-white text-center px-3 py-1 font-Poppins bg-primary rounded-full"
                >
                    Contactless check-in
                </p>

                <p
                    class="text-sm max-w-sm text-white text-center px-3 py-1 font-Poppins bg-primary rounded-full"
                >
                    48-hour vacancy between guest hotel stayst
                </p>
                <p
                    class="text-sm max-w-sm text-white text-center px-3 py-1 font-Poppins bg-primary rounded-full"
                >
                    Hand sanitiser provided
                </p>
            </div>
            <br />
            <br />
            <br />
        </div>
    </div>
    <div
        class="px-8 pb-8 pt-4 shadow-md border-2 border-gray-50 rounded-md my-10"
        >
        <h1 class="md:text-2xl font-bold text-primary mb-2 text-xl">
            Choose your room
        </h1>

        <!-- group of cards -->
        <div class="grid grid-cols-1 md:grid-cols-3 xl:grid-cols-3 gap-4 my-4">
            
            {% with str='123' %}
            {% for i in str %}
            <!-- single card -->
            <div
                class="max-w-xs xl:max-w-xs mx-auto shadow-md rounded-lg flex flex-col transition transform ease-in-out delay-150 hover:-translate-y-1 hover:scale-105 duration-150"
                >
                <img
                    src="{% static 'images/room.jpg' %}"
                    class="h-56 w-full rounded-t-lg"
                    alt=""
                />
                <div class="px-4 py-2">
                    <div class="flex justify-between">
                        <h3 class="text-primary text-xl font-semibold">
                            Room with {{i}} Bed/s
                        </h3>
                        <div class="text-xl text-gray-800">$ {% widthratio hotel.price_per_24_h 1 i %} </div>
                    </div>
                    <div>
                        <div class="flex">
                            <div class="text-primary font-Poppins text-lg">
                                Size :
                            </div>
                            <p>20 sq m</p>
                        </div>
                        <div class="flex">
                            <div class="text-primary font-Poppins text-lg">
                                Bed :
                            </div>
                            <p>{{i}} Double Bed/s</p>
                        </div>
                        <div class="flex">
                            <div class="text-primary font-Poppins text-lg">
                                Wifi :
                            </div>
                            <p>Free WiFi</p>
                        </div>
                    </div>
                    <hr class="my-4" />
                    <div class="flex my-2">
                        <a href="/hotel/reserve/{{hotel.id}}/"
                            class="text-white w-full bg-primary rounded-md hover:text-primary hover:bg-white border-2 border-primary"
                        >
                            Reserve
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endwith %}

        </div>
    </div>

</div>

{% endblock content %}
